body{
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho-lista{
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 50px;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    color: #777;
    font-size: 13px;
    font-weight: bold;
}

li{
    list-style: none;
}

.lista-produtos-itens{
    align-items: center;
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 50px;
    height: 150px;
    border-top: 1px solid #ddd;
}

.botao{
    display: flex;
    align-items: center;
    place-items: center;
    gap: 5px;
}

button{
    border: 1px solid #ddd;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: #F7E6EA;
}

.produtos{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
    gap:20px;
}

primeira-coluna-container{
    gap: 30px;
}

.resumo{
    border: 1px solid #ddd;
    border-radius: 8px;
    display: grid;   
    gap: 10px;
    padding: 30px;
    box-shadow:
    0 2px 10px rgba(0,0,0,0.03),
    0 8px 30px rgba(0,0,0,0.04);
}

.pagamentos{
    display: grid;
    place-items: center;
}

.pagamento{
    width: 40px;
    height: 30px;
}

.itens-pagamentos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.itens-subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.total-compra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
}

.botoes-finalizar{
    display: flex;   
    align-items: center;    
    gap: 10px;        
    flex-direction: column;  
}

.botoes-finalizar button{
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.cupom{
    display: flex;
    gap: 8pxs;
    margin-top: 30px;
    background-color: #F7E6EA;
    border-radius: 10px;
}


