body{
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho-lista{
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    color: #777;
    font-size: 13px;
    font-weight: bold;
}

.lista-produtos{
    list-style: none;
}

.lista-produtos-itens{
    align-items: center;
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 50px;
}

.botao{
    display: flex;
    align-items: center;
    place-items: center;
    gap: 5px;
}

.produtos{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
    gap:20px;
}

.resumo{
    border: 1px solid #ddd;
    border-radius: 8px;
    display: grid;
    place-items: center;
    padding-bottom: 10px;
}

.pagamentos{
    display: grid;
    place-items: center;
}

.pagamento{
    width: 40px;
    height: 30px;
}

.itens-pagamentos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}


